#drupalorg-crosssite-gdpr,
#drupalorg-crosssite-gdpr-edit {
  display: none;
}
#drupalorg-crosssite-gdpr.prompt,
#drupalorg-crosssite-gdpr-edit.prompt {
  display: block;
}
#drupalorg-crosssite-gdpr-edit.optin .opted-out,
#drupalorg-crosssite-gdpr-edit.optin .yes {
  display: none;
}
#drupalorg-crosssite-gdpr-edit.optout .opted-in,
#drupalorg-crosssite-gdpr-edit.optout .no {
  display: none;
}
